a{
  text-decoration: none; 
  color: aliceblue;
}
header{
  background-color: rgb(16, 16, 16);
  color: aliceblue;
  height: 18vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.webdigital {
  margin-left: 5%; 
  font-size: 2.7vw;
}

#buttonsheader{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  align-items: center;
  gap: 4vw;
  margin-left: 12vw;
  font-size: 2vw;
}
.register_page{
background-color: rgb(29, 0, 63);
display: flex;
justify-content: center;
align-items: center; 
height: 50vw;
margin: 0;
}
.register_card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  background-color: rgb(6, 0, 59);
  width: 30vw;
  height: 30vw;
}
.loginorregisterh1{
  color: aliceblue;
  font-size: 2vw;
  margin-bottom: 1vw;
}
#username_box{
  width: 20vw;
  height: 3vw;
}
.email_box{
width: 20vw;
height: 3vw;
}
.password_box{
  width: 20vw;
  height: 3vw;
}
